<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <link href="{{ url_for('static', path='webpack_bundles/main.css') }}" rel="stylesheet">
        <link rel="preload" href="{{ url_for('static', path='webpack_bundles/main.js') }}" as="script">
        
        <title>{% block title %}{% endblock %} - Encurtador URL</title>

        {% include "parts/tags.html" %}

    </head>
    <body>
        {% block content %}{% endblock %}
        <script async charset="utf-8" defer src="{{ url_for('static', path='webpack_bundles/main.js') }}" type="text/javascript"></script>
    </body>
</html>