$mobileSize: 600px;
$tabletSize: 900px;
$desktopSize: 1200px;
$desktopBigSize: 1500px;

$columnWidth: 4%;

$headerHeight: 6rem;

// Colors
$color-main: #71c6dd;
$color-main-light: #e1f6fb;
$color-dark: #3f4156;
$color-dark-medium: #51546e;
$color-dark-light: #696d97;
$color-light: #e5e5e5;
$color-gray: #8b8b8b;
$color-light-gray: #b2bdbd;
$color-bg: #2d2d39;
$color-success: #5dd693;
$color-error: #fc4b0b;

$color-text: #92939d;


$color-primary: #58af9b;
$color-primary-light: #a9e2d9;
$color-primary-dark: #2f8f6f;


$color-description: #7f8c8d;
$color-white: #fff;

$color-content: #0b0b0cc4;

// social-icons

$CB-social: #bdc3c7;
$CT-social: #95a5a6;



$BG-input: #ecf0f1;



$max-width: 1200px;
