{% extends 'index.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% include 'parts/header.html' %}
    <main>
        <div class="logo">
            <img src="{{ url_for('static', path='images/logo-01.png') }}" alt="">
        </div>

        <div class="form-shortner">
            
            <form 
                action="" 
                method="POST" 
                id=form-shorten-url 
                data-action-shorten="{{ url_for('register_url') }}" 
                data-action-shortened="{{ url_for('shortened_url') }}"
            >
                <div class="input-group">
                    <input type="text" name="long_url" id="long-url" placeholder="Cole seu like aqui">
                    <button type="submit">Encurtar</button>
                </div>
            </form>

            <div class="information">
                <p>
                    O Encurtador de URL permite diminuir um link longo tornando-o fácil de lembrar
                    Após encurtar a URL, é possível saber <a href="">quantos cliques ela recebeu</a>
                </p>
            </div>
        </div>

        <div class="section_one">
            <h2>Um Encurtador de URL simples e rápido!</h2>

            <p>
                O Encurtador é uma ferramenta grátis para encurtar links de redes sociais e sites mais acessados da Internet. Use o nosso Encurtador de URL para diminuir uma url longa e gerar um link curto. Cole o link completo e clique no botão Encurtar URL. Na próxima tela, copie a URL encurtada e compartilhe. 
            </p>
        </div>


        <div class="section_two">
            <h2>Encurte, compartilhe e monitore</h2>

            <p>
                Suas URLs encurtadas podem ser usadas em publicações, blogs, fóruns, e-mails, mensagens instantâneas e outros locais. Acompanhe as estatísticas para seus negócios e projetos monitorando a quantidade de acessos da sua URL com o contador de cliques, não é necessário se registrar.
            </p>

            <div class="cards">
                <div class="card">
                    <i class='bx bxs-share-alt bx-rotate-90' ></i>
                    <h3>Curto</h3>
                    <p>
                        Encurte links de qualquer tamanho com o Encurtador.
                    </p>
                </div>

                <div class="card">
                    <i class='bx bx-bulb'></i>
                    <h3>Grátis</h3>
                    <p>
                        Crie quantos links encurtados quiser e compartilhe.
                    </p>
                </div>

                <div class="card">
                    <i class='bx bxs-lock-alt' ></i>
                    <h3>Seguro</h3>
                    <p>
                        Usamos protocolo https com criptografia de dados nas urls
                    </p>
                </div>

                <div class="card">
                    <i class='bx bx-line-chart'></i>
                    <h3>Estatísticas</h3>
                    <p>
                        Verifique o total de cliques da sua url encurtada
                    </p>
                </div>

                <div class="card">
                    <i class='bx bxs-lock-alt' ></i>

                    <h3>Confiável</h3>
                    <p>
                        Excluímos links que tentam disseminar spam e malware
                    </p>
                </div>

                <div class="card">
                    <i class='bx bx-devices'></i>

                    <h3>Responsivo</h3>
                    <p>
                        Compatível com desktop, tablets e dispositivos móveis
                    </p>
                </div>
            </div>
        </div>
    </main>
    {% include 'parts/footer.html' %}
{% endblock %}
