{% extends 'index.html' %}

{% block title %}URL encurtada{% endblock %}

{% block content %}
    {% include 'parts/header.html' %}
    <main>
        <div class="content">
            <div class="logo">
                <img src="{{ url_for('static', path='images/logo-01.png') }}" alt="">
            </div>

            <div class="form-shortner">
                <form action="javascript:void(0);">
                    <div class="input-group">
                        <input type="text" placeholder="Cole seu like aqui" value="{{ data.short_url }}" id="input-short-url" readonly>
                        <button id="btn-copy">Copia URL</button>
                    </div>
                </form>

                <div class="information">
                    <p>URL encurtada com sucesso!</p>

                    <p>
                        Copie o link encurtado e compartilhe em mensagens, textos, publicações, sites e outros locais.
                    </p>


                    <p>
                        URL Longa: <a href="{{ data.long_url }}" target="_black">{{ data.long_url }}</a>
                    </p>

                    <p>
                        Acompanhe o <a href="">total de cliques</a> em tempo real da sua URL encurtada. </br>
                        Crie outra <a href="{{ url_for('home') }}">URL encurtada</a>.
                    </p>
                </div>
            </div>
        </div>
    </main>
    {% include 'parts/footer.html' %}
{% endblock %}
