<footer>
    <div class="footer-box">
        <nav class="footer-nav">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('total_clicks') }}">Contador de cliques</a></li>
            </ul>
        </nav>
        <div class="about">
            <p>
                © 2022 Encurtador.com - Ferramenta para encurtar um link longo. Linkedin - 
                <a href="https://www.linkedin.com/in/natanael-silva-33b374188/" target="_blank">Natanael Silva</a>
            </p>
        </div>
    </div>
</footer>