@import "../commom/variables.scss";

.main-shortened {
    width: 100%;
    max-width: $max-width;
    height: 65%;
    margin: 0 auto;

    .logo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 15rem;
            height: 15rem;
            object-fit: contain;
            object-fit: contain;
        }
    }

    .form-shortner {
        max-width: 80rem;
        height: 37rem;
        margin: 0 auto;

        background-color: $color-bg;
        border-radius: 0.5rem;

        form {
            padding-top: 3.6rem;

            .input-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                width: 93%;
                height: 5rem;
                border-radius: 0.5rem;
                box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
            }

            .url-copied {
                display: flex;
                justify-content: end;
                margin: 1rem 4rem;
                
                
                span {
                    display: none;
                    align-items: center;
                    padding: 0.9rem;
                    border-radius: 0.9rem;

                    font-size: 1.3rem;
                    color: black;
                    background-color: #58af9b;

                    animation: hidemessages 400ms 5s ease-out forwards;


                    i {
                        font-size: 1.8rem;
                    }
                }

            }
        }

        .information {
            width: 78%;
            height: 19rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: 22px;

            p {
                text-align: center;
                font-size: 1.6rem;

                a {
                    display: inline;
                    color: $color-primary;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            p:nth-child(1) {
                margin-bottom: 1.5rem;
            }
            
            p:nth-child(2), 
            p:nth-child(3) {
                margin-bottom: 1.5rem;
            }
        }
    }

}


@keyframes hidemessages {
   to {
      top: -50px;
      opacity: 0;
   }
}