@import "../commom/variables.scss";
@import "../mixins/mixins.scss";


.main-total-clicks {
    width: 100%;
    max-width: $max-width;
    height: 65%;
    margin: 0 auto;

    .logo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 15rem;
            height: 15rem;
            object-fit: contain;
            object-fit: contain;
        }
    }

    .form-total-clicks {
        max-width: 80rem;
        height: 37rem;
        margin: 0 auto;

        background-color: $color-bg;
        border-radius: 0.5rem;

        @include breakpoint($tabletSize) {
            max-width: 94%;
        }

        .infor {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3rem;

            @include breakpoint($tabletSize) {
                width: 91%;
                margin: 0 auto;

            }

            h2 {
                font-size: 2.4rem;
                margin-bottom: 1rem;
            }
        }

        form {
            padding-top: 3.6rem;

            .input-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;
                width: 93%;
                height: 5rem;
                border-radius: 0.5rem;
                box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

            }
        }

        .result-total-clicks {
            display: none;
            justify-content: space-between;
            margin: 4rem;
            height: 6rem;

            .result-infor {
                display: flex;
                align-items: center;
            }

            .result {
               width: 33%;
                display: flex;
                justify-content: center;

                span {
                    display: flex;
                    align-items: center;

                    font-size: 4rem;
                    font-weight: 700;
                    color: $color-primary;
                }
            }
        }
    }
}