@import "../mixins/mixins.scss";
@import "./variables.scss";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   position: relative;
   min-height: 100%;
}

@include breakpoint($mobileSize) {
   // width < 600?
   html {
      font-size: 40%;
   }
}

@include breakpoint($tabletSize) {
   // width < 900?
   html {
      font-size: 50%; //1 rem = 8px 8px/16px = 50%
   }
}

@include breakpoint($desktopSize) {
   // width < 1200?
   html {
      font-size: 56.25%; //1 rem = 9px 9px/16px = 56.25%
   }
}

@include breakpoint($desktopBigSize) {
   // width > 1200?
   html {
      font-size: 75%; //1 rem = 12px 12px/16px = 75%
   }
}

body {
   height: 100%;
   font-size: 1.6rem;
   font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   font-weight: 400;
   overflow-x: hidden !important;
   background-color: #fff;

   color: #92939d;
}

.is-invalid {
   &:focus {
      outline-color: red !important;;   
   }
}