@import url(https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;600;700&family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 1500px) {
  html {
    font-size: 75%;
  }
}
body {
  height: 100%;
  font-size: 1.6rem;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  overflow-x: hidden !important;
  background-color: #fff;
  color: #92939d;
}

.is-invalid:focus {
  outline-color: red !important;
}

input {
  width: 87%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #92939d;
  background-color: #2d2d39;
}
input:focus {
  outline-color: #58af9b;
}

button {
  width: 11rem;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: #2d2d39;
  color: #92939d;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #58af9b;
  color: #2d2d39;
}

header {
  width: 100%;
  height: 8rem;
  background-color: #2d2d39;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}
header nav img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 8rem;
  height: 8rem;
}
header nav ul {
  display: flex;
  flex-direction: row;
}
header nav ul li {
  list-style: none;
  margin-right: 2rem;
}
header nav ul li a {
  text-decoration: none;
  color: #92939d;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
header nav ul li a:hover {
  color: #58af9b;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 13rem;
  margin-top: 7rem;
  background-color: #2d2d39;
}
footer .footer-box {
  max-width: 80rem;
  margin: 0 auto;
  height: 62%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-box .footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 89%;
}
footer .footer-box .footer-nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}
footer .footer-box .footer-nav ul li a {
  font-size: 1.4rem;
  font-weight: 400;
  color: #92939d;
  text-decoration: none;
}
footer .footer-box .footer-nav ul li a:hover {
  color: #58af9b;
}
footer .about p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #92939d;
  text-align: center;
}
footer .about p a {
  display: inline;
  color: #58af9b;
}
footer .about p a:hover {
  text-decoration: underline;
}

.main-home {
  width: 100%;
  height: 65%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 17rem;
}
.main-home .logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-home .logo img {
  width: 15rem;
  height: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
  object-fit: contain;
}
.main-home .form-shortner {
  max-width: 80rem;
  height: 28rem;
  margin: 0 auto;
  background-color: #2d2d39;
  border-radius: 0.5rem;
}
.main-home .form-shortner form {
  padding-top: 3.6rem;
}
.main-home .form-shortner form .input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 93%;
  height: 5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.main-home .form-shortner form .input-group input {
  width: 87%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  padding: 0 1rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #92939d;
  background-color: #2d2d39;
}
.main-home .form-shortner form .input-group input:focus {
  outline-color: #58af9b;
}
.main-home .form-shortner form .input-group button {
  width: 11rem;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: #2d2d39;
  color: #92939d;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.main-home .form-shortner form .input-group button:hover {
  background-color: #58af9b;
  color: #2d2d39;
}
.main-home .form-shortner .information {
  width: 78%;
  height: 19rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.main-home .form-shortner .information p {
  text-align: center;
  font-size: 1.6rem;
}
.main-home .form-shortner .information p a {
  display: inline;
  color: #58af9b;
}
.main-home .form-shortner .information p a:hover {
  text-decoration: underline;
}
.main-home .section_one {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 5rem;
}
.main-home .section_one h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #3f4156;
  margin-bottom: 2rem;
}
.main-home .section_one p {
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: #3f4156;
  margin-bottom: 2rem;
}
.main-home .section_two {
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 5rem;
}
.main-home .section_two h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #3f4156;
  margin-bottom: 2rem;
}
.main-home .section_two p {
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: #3f4156;
  margin-bottom: 2rem;
}
.main-home .section_two .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  margin-top: 3rem;
}
.main-home .section_two .cards .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  background-color: #2d2d39;
}
.main-home .section_two .cards .card i {
  font-size: 3.2rem;
  color: #58af9b;
  margin-bottom: 1rem;
}
.main-home .section_two .cards .card h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.main-home .section_two .cards .card p {
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: #92939d;
  margin-bottom: 1rem;
}

.main-shortened {
  width: 100%;
  max-width: 1200px;
  height: 65%;
  margin: 0 auto;
}
.main-shortened .logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-shortened .logo img {
  width: 15rem;
  height: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
  object-fit: contain;
}
.main-shortened .form-shortner {
  max-width: 80rem;
  height: 37rem;
  margin: 0 auto;
  background-color: #2d2d39;
  border-radius: 0.5rem;
}
.main-shortened .form-shortner form {
  padding-top: 3.6rem;
}
.main-shortened .form-shortner form .input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 93%;
  height: 5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.main-shortened .form-shortner form .url-copied {
  display: flex;
  justify-content: end;
  margin: 1rem 4rem;
}
.main-shortened .form-shortner form .url-copied span {
  display: none;
  align-items: center;
  padding: 0.9rem;
  border-radius: 0.9rem;
  font-size: 1.3rem;
  color: black;
  background-color: #58af9b;
  animation: hidemessages 400ms 5s ease-out forwards;
}
.main-shortened .form-shortner form .url-copied span i {
  font-size: 1.8rem;
}
.main-shortened .form-shortner .information {
  width: 78%;
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 22px;
}
.main-shortened .form-shortner .information p {
  text-align: center;
  font-size: 1.6rem;
}
.main-shortened .form-shortner .information p a {
  display: inline;
  color: #58af9b;
}
.main-shortened .form-shortner .information p a:hover {
  text-decoration: underline;
}
.main-shortened .form-shortner .information p:nth-child(1) {
  margin-bottom: 1.5rem;
}
.main-shortened .form-shortner .information p:nth-child(2),
.main-shortened .form-shortner .information p:nth-child(3) {
  margin-bottom: 1.5rem;
}

@keyframes hidemessages {
  to {
    top: -50px;
    opacity: 0;
  }
}
.main-total-clicks {
  width: 100%;
  max-width: 1200px;
  height: 65%;
  margin: 0 auto;
}
.main-total-clicks .logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-total-clicks .logo img {
  width: 15rem;
  height: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
  object-fit: contain;
}
.main-total-clicks .form-total-clicks {
  max-width: 80rem;
  height: 37rem;
  margin: 0 auto;
  background-color: #2d2d39;
  border-radius: 0.5rem;
}
.main-total-clicks .form-total-clicks .infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
.main-total-clicks .form-total-clicks .infor h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.main-total-clicks .form-total-clicks form {
  padding-top: 3.6rem;
}
.main-total-clicks .form-total-clicks form .input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 93%;
  height: 5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.main-total-clicks .form-total-clicks .result-total-clicks {
  display: none;
  justify-content: space-between;
  margin: 4rem;
  height: 6rem;
}
.main-total-clicks .form-total-clicks .result-total-clicks .result-infor {
  display: flex;
  align-items: center;
}
.main-total-clicks .form-total-clicks .result-total-clicks .result {
  width: 33%;
  display: flex;
  justify-content: center;
}
.main-total-clicks .form-total-clicks .result-total-clicks .result span {
  display: flex;
  align-items: center;
  font-size: 4rem;
  font-weight: 700;
  color: #58af9b;
}
